.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.imageContainer {
  width: 300px;
}
.mainImage {
  width: 100%;
  height: auto;
}
.form input,
.form textarea {
  color: white;
  background-color: rgb(110, 110, 110);
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
}
.formContainer{
  width: 30%;
}
.form button{
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.form textarea{
  height: 10rem;
}
