* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --background-color-var: rgb(255, 255, 255); /* Default: black */
  --color-var: rgb(0, 0, 0); /* Default: white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-var: rgb(0, 0, 0); /* Dark mode: white */
    --color-var: rgb(255, 255, 255); /* Dark mode: black */
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color-var);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body{
  color: var(--color-var);
}
input:focus{
  border: none;
  box-shadow: none;
  outline: none;
}
