.texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 30%;
}
.bigText {
  font-size: 5rem;
  font-weight: 800;
}
.imageContainer {
  width: 300px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
.mainImage {
  width: 100%;
  height: auto;
}
.learnMore{
    padding: 20px;
  min-width: 120px;
  max-width: 180px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
