.navdiv {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.big {
  display: flex;
  gap: 2rem;
}
.logo {
  color: white;
}
.navItem {
  padding: 0.5rem 1.5rem;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.activeLink{
background-color: white;
color: black;
}
.small {
  display: none;
}
@media (max-width: 768px) {
  .big {
    display: none;
  }
  .small {
    display: flex;
  }
}
